/* VARIÁVEIS */
  
/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
}



body{
    height:100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column; 
    background-image:url(../images/floor.png);
  }


header{
    padding: 35px 15px;
    background-color: #73af3b;
   
}

header h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1.7px;
}

/* main{
    display: flex;
} */

.labirinto{
    margin-top: 100px;
}

.linha{
display: flex;
justify-content: center;
}

.celulaParede{
    min-width: 40px;
    background-image: url(../images/tree.png);
    min-height: 40px;
}


.celula{
    min-width: 40px;
    background-image: url(../images/floor.png);
}

.celulaFim{
    min-width: 40px;
    background-image: url(../images/pikachu.png);
}

#jogador{
    animation-duration: 200ms;
    min-width: 40px;
    background-image: url(../images/ashRight.png);
    background-size: 100% 100%;
    min-height: 40px;
}

.vitoria{
    position: absolute;
    width: 800px;
    height: 700px;
    background-color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.vitoria img{
    width: 700px;
    height: 450px;
}

.vitoria p {
    text-align: center;
    font-size: 45px;
    padding: 15px 0;
    text-transform: uppercase;
}

.vitoria button {
    padding: 18px 28px;
    background-color: chartreuse;
    border-radius: 5px;
    border: 2.5px solid black;
    font-size: 18px;
    
}

.vitoria button:hover{
    background-color: black;
    color: chartreuse;
}
/*Animações*/

/* @keyframes slideRight {
    from {margin-right: -33px;}
    to {margin-left: 0;}
}

.slideRight {
    animation-name: slideRight;
    min-width: 40px;
    background-color: purple;
    min-height: 40px;

}


.slideLeft {
    animation-name: slideLeft;
    min-width: 40px;
    background-color: purple;
    min-height: 40px;

}

@keyframes slideLeft {
    from {margin-left: -33px;}
    to {margin-right: 0;}
}

.slideDown {
    animation-name: slideDown;
    min-width: 40px;
    background-color: purple;
    min-height: 40px;

}

@keyframes slideDown {
    from {margin-bottom: -33px;}
    to {margin-top: 0px;}
} */





footer{
    background-color: rgb(192, 184, 181);
    background-color: #73af3b;
    text-align: center;
    min-height: 80px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

